body {
    background: url("images/The_Land_of_Ooo.png");
    background-position: center;
    background-size: cover;
    
}

.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal {
    
    height: 200px;
    width: 200px;
}

img {
    width: 50px;
    height: 50px;
}
